<div class="gallery-embed">
    <!--p class="material-symbols-outlined gallery-controls back">chevron_backward</p>
    <img class="gallery-image">
    <p class="material-symbols-outlined gallery-controls next">chevron_forward</p-->
    <div class="gallery-image-and-controls">
        <span class="material-symbols-outlined gallery-controls back">chevron_backward</span>
        <img class="gallery-image">
        <span class="material-symbols-outlined gallery-controls next">chevron_forward</span>
    </div>
    <p style="text-align: center;" class="gallery-desc"></p>
    <script>
{% include gallery.js photos=include.photos %}
    </script>
</div>